<div class="fixed col-1 flex" id="green" style="margin-left: 15px; border-right: 1px solid grey">
    <%= link_to image_tag("logos/twitter.png", width: '50px', :style => 'padding-top:10px'), root_path, class:"side-navbar" %> <br/>
    <br />
    <%= link_to image_tag("logos/home.png", width: '50px'), root_path, class:"side-navbar" %> <br/>
    <br />
    <%= link_to image_tag("logos/magnifier.png", width: '30px', :style => 'margin: 10px'), root_path, class:"side-navbar" %> <br/>
    <br />
    <%= link_to image_tag("logos/bell.png", width: '30px', :style => 'margin: 10px'), root_path, class:"side-navbar" %> <br/>
    <br />
    <%= link_to image_tag("logos/mail.png", width: '30px', :style => 'margin: 10px'), root_path, class:"side-navbar" %> <br/>
    <br />
    <%= link_to image_tag("logos/person.svg", width: '30px', :style => 'margin: 10px'), root_path, class:"side-navbar" %> <br/>
    <br />
    <%= link_to image_tag("logos/more.svg", width: '30px', :style => 'margin: 10px'), root_path, class:"side-navbar" %> <br/>
    <br />
    <%= link_to image_tag("logos/tweet.svg", width: '30px', :style => 'margin: 10px'), root_path, class:"side-navbar" %> <br/>
</div>

